/*@font-face {*/
/*    font-family: 'MaplestoryOTFBold';*/
/*    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

.col-sm-10 {
    width: 500px;

}

.body {

    background-position: center;
    background-size: cover;

    min-height: 100vh;
}



.wrap {
    width: 800px;
    margin: auto;


}

.label {
    width: 100px;
}

.form-control {
    width: 600px;

}

.input-boxes {
    width: 800px;
    border: 3px solid #D4B0D9;
    border-radius: 20px;
    padding: 2.5em;
    margin:20px 0px 0px 20px;
    box-shadow: 10px 10px 35px black;
    background-color: #D4B0D9;


}

.form {
    margin-bottom: 10px;
}

#button {

    margin: 40px auto 20px auto;
    display: block;

}

.display-4 {

    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin:auto;
    padding-top:50px;
}

.lead {
    color: aliceblue;
    text-align: center;
}

#colFormLabel {
    width: 700px;
}

.jumbotron-fluid {

    background-color: mediumpurple;
    height: 200px;
}





