<!doctype html>
<html lang="en">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- common.js부분 참조 -->
<script src="../static/js/common.js"></script>


<title>BTS!</title>
</head>

<script>
    function reviewWrite() {
        let name = $('#name').val()
        let oneReview = $('#oneReview').val()
        let rate = $('#rate').val()
        let detailReview = $('#detailReview').val()

        $.ajax({
            type: "POST",
            url: "/write",
            data: {
                name_give: name,
                oneReview_give: oneReview,
                rate_give: rate,
                detailReview_give: detailReview
            },
            success: function (response) {
                alert(response['msg'])
                console.log(oneReview)
                window.location.href = '/albumdata'
            }
        });
    }

    // function reviewDelete() {
    //     $.ajax({
    //         type: "POST",
    //         url: "/delete",
    //         data: {name_give: name},
    //         success: function (response) {
    //             alert(response['msg'])
    //             window.location.href = '/albumdata'
    //         }
    //     });
    // }
</script>

<style>
    #oneReview {
        width: 800px;
    }

    #detailReview {
        height: 150px;
        width: 700px;
    }

    .col {
        margin: 0px 10px 10px 0px;
        padding-right: 50px;
    }

    .review-table {
        margin: 10px auto 30px 100px;
        padding-top: 20px;
        width: 500px;
    }

    .testimg {
        background-color: green;
        margin-left: 100px;
    }

    .gogo {
        margin: auto;
    }
</style>

<body id="bodytest">
<!-- 해더 시작부분 -->
<header w3-include-html="header" class="head"></header>

<section>
    <div class="gogo">
        <div class="row">
            <div class="col">
                <img class="testimg"
                     src="https://cdnimg.melon.co.kr/cm/album/images/102/73/641/10273641_500.jpg?931a1f4b6e6c90752585d656e86f0842/melon/resize/282/quality/80/optimize"
                     alt="여기에 이미지 있어요!!">
            </div>
            <div class="col">
                <div id="titlename">
                    <h1>여기에 오면 망한징조인데</h1>
                </div>
                <div id="abdata">
                    <div class="container">
                        <div class="row">
                            <div class="col">발매일</div>
                            <div class="col" id="date">망했어..</div>
                            <div class="w-100"></div>
                            <div class="col">장르</div>
                            <div class="col" id="genre">지옥판타지</div>
                            <div class="w-100"></div>
                            <div class="col">발매사</div>
                            <div class="col" id="publisher">지옥</div>
                            <div class="w-100"></div>
                            <div class="col">기획사</div>
                            <div class="col" id="agency">도도</div>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>
                            곡이름
                        </th>
                    </tr>
                    </thead>
                    <tbody id="singtolist">
                    <tr>
                        <th>
                            <a href="https://www.melon.com/song/detail.htm?songId=31737197">진짜 망한것들의 노래</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>

<section>
    <div class="review-table">
    <p id="name">작성자 {nickname} </p>
    <p>
    <div class="form-inline">
        <div class="form-group">
            <label for="inputPassword6">한줄평</label>
            <input type="text" id="oneReview" class="form-control mx-sm-3" aria-describedby="passwordHelpInline"
                   placeholder="60자 이내로 써주세요!">
        </div>
    </div>
    </p>
    <p id="rate">평점 {여기에 별표 와야함}</p>
    <div>
        <div class="form-group">
        <textarea class="form-control" id="detailReview" placeholder="더 자세한 이야기를 써주세요!"
                  rows="3"></textarea>
        </div>
    </div>

    <button onclick="reviewWrite()" type="button" class="btn btn-primary">등록하기</button>
</div>
</section>


<!-- 푸터 시작부분 -->
<footer w3-include-html="footer" class="foot"></footer>
</body>
<!-- 해더와 푸터를 불러옴 -->
<script>
    includeHTML();
</script>

</html>