<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<style>
    * {
        font-family: 'Jua', sans-serif;
    }
    .head {
        margin: 0px 10px 25px 15px ;
        font-size: 50px;
    }

    .head-side {
        float: right;
        font-size: 20px;
    }
    .head-side2 {
        float: right;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .wrap {
        width: 1000px;
        height: 130px;
        margin: auto;
        padding: 20px;
        border-style: none;
        background-color: #fafafa
    }
    .btn-group-toggle {
        font-size: 16px;
    }

</style>

<div class="wrap">
    <h1 class="head">MY BTS PLAYLIST
    <div class="head-side">
        <div class="btn-group-toggle head-side2" data-toggle="buttons">
            Nickname 아미님!
          <label class="btn btn-secondary active">
              <input type="checkbox" checked autocomplete="off">
              Logout
          </label>
        </div>
    </div>
    </h1>
</div>

