<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="../static/register.css">
    <title>회원가입 페이지</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script>

        

        function is_nickname(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }


        function check_dup_name() {
            let username = $("#input-username").val()
            console.log(username)

            if (username == "") {
                alert('닉네임을 입력하세요')
            }

            else if (!is_nickname(username)) {
                alert('닉네임의 형식을 확인해주세요. 영문과 숫자, 일부 특수문자(._-) 사용 가능. 2-10자 길이')
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/check_dup_name",
                    data: {
                        username_give: username
                    },
                    success: function (response) {

                        if (response["exists"]) {
                            alert('이미 존재하는 닉네임입니다')
                        } else {
                            alert('사용할 수 있는 닉네임입니다')
                        }


                    }
                });
            }
        }

        function check_dup_id() {
            let id = $("#input-id").val()
            if (id == "") {
                alert('아이디를 입력하세요')
            }
            $.ajax({
                type: "POST",
                url: "/check_dup_id",
                data: {
                    id_give: id
                },
                success: function (response) {

                    if (response["exists"]) {
                        alert('이미 존재하는 아이디입니다')
                    } else {
                        alert('사용할 수 있는 아이디입니다')
                    }


                }
            });
        }

    </script>

</head>
<body>
<div class="all">
    <section class="top-area">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Love Your Album</h1>
                <p class="lead">아미들 모두 모여라 어쩌구 저쩌구 </p>
            </div>
        </div>
    </section>

    <section>
        <div class="wrap">
            <div class="input-boxes">
                <div class="form">
                    <label for="colFormLabel" class="label">닉네임</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="input-username" placeholder="">
                        <span><button style="color:purple;border-color:purple; margin-top:15px;" type="button"
                                      class="btn btn-outline-primary" onclick ="check_dup_name()">중복확인</button></span>
                    </div>
                </div>
                <div class="form">
                    <label for="colFormLabel" class="label">아이디</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="input-id" placeholder="">
                        <span><button style="color:purple; border-color:purple; margin-top:15px;" type="button"
                                      class="btn btn-outline-primary" onclick ="check_dup_id()">중복확인</button></span>
                    </div>
                </div>
                <div class="form">
                    <label for="colFormLabel" class="label">비밀번호</label>
                    <div style="margin-bottom:20px;" class="col-sm-10">
                        <input type="password" class="form-control" id="colFormLabel" placeholder="">
                    </div>
                </div>
                <div class="form">
                    <label for="colFormLabel" class="label" style="width:200px">비밀번호 확인</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="colFormLabel" placeholder="">
                    </div>
                </div>
                <button style="background-color:rebeccapurple; border-color:rebeccapurple" type="button" id="button"
                        class="btn-primary btn-lg">가입하기
                </button>
                <button style="background-color:rebeccapurple; border-color:rebeccapurple" type="button" id="button"
                        class="btn-primary btn-lg"><a style="text-align:center; color:white;" href="/login.html">로그인
                    화면으로 돌아가기</a>
                </button>

            </div>


        </div>
    </section>
</div>
</div>
</body>
</html>


